body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f7f7;
}
.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}
.card-content {
    padding: 20px;
}
.card-content h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
    color: #333;
}
.card-content p {
    margin: 0;
    font-size: 14px;
    color: #777;
}


.title {
    font-size: 2.5em;
    color: #ff0101;
    margin-bottom: 30px;
}

button {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}